<!-- ejs파일도 그냥 html코드와 같이 만들면 됩니다. html파일과 똑같지만 서버에 집어 넣을수 있냐 없냐의 차이밖에 없다.-->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="main.css" rel="stylesheet">
 </head>
 <div class="nav">
  <a class="logo">AppleForum</a>
  <a>Page1</a>
  <a>Page2</a>
</div>
<%- include('nav.ejs', {age : 20}) %>
<!-- 위와같은 코드가 매우 많을때는 파일을 가져오는 문법이 따로 있다. 1.따로 ejs파일로 만든다.  -->
 <body class="grey-bg">
 <!-- <%=JSON.stringify(post)%> ejs파일에서 이런 형식으로 넣는다. == 서버사이브 렌더링 -->
    <div class="white-bg">
      <% for (let i=0; i <post.length; i++){ %>
      <div class="list-box">
        <h4><%=post[i].title%></h4>
        <p>글내용임</p>
      </div>
      <% } %>
      <!-- <% %>넣으면 자바스크립트 문법을 ejs안에서 쓸수 있다. -->
      <div class="list-box">
        <h4>글제목임</h4>
        <p>글내용임</p>
      </div>
    </div> 
  
  </body>
 </html>